{% extends 'base.html' %}
{% block title %}  HOME -  {% endblock title %}


{% block body %}
        

  


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>


  <div class="container my-3">
    <h2>To Do's </h2>
    <form action="/" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Enter Your To Do's </label>
        <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
        <input type="text" class="form-control" id="desc" name="desc">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class="container my-5">
    <h2>To Do's list</h2>

    {% if alltodo|length == 0 %}
    <div class="alert alert-warning h-5" role="alert">
     <p>  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No Records Found !!!</p>
    </div>

    {% else %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ToDo</th>
          <th scope="col">Desc</th>
          <th scope="col">Date_Created</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for Todo in alltodo %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ Todo.ToDo }}</td>
          <td>{{ Todo.Desc }}</td>
          <td>{{ Todo.Date_Created }}</td>
          <td>
            <a href="/update/{{ Todo.Sno }}" class="btn btn-outline-primary btn-sm mx-1">Update</a>
            <a href="/delete/{{ Todo.Sno }}" class="btn btn-outline-danger btn-sm mx-1">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
{% endblock body %}
